body {
    margin:0px;
}

header {
    background-color: rgb(156, 193, 226);
    margin: 0px;
    padding:10px;
}


header h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0px;
    padding: 5px;
    

}

nav ul {
  
    text-align: center;
    display: block;
    margin:0px;
}
nav li {
    margin-left: auto;
    margin-right: auto;
    display: inline;

}

nav a {
    padding: 10pt;
    color:black;
    font-size: x-large;
    
}

main {
    background-color: rgba(208, 186, 129, 0.522);
}
img{
    margin: 10pt;
    padding: 0pt;
    border: 5px solid black;
}
.upper {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.lower { 
    max-width: 50%;
    display: inline-block; 
    margin-left: 15%;
    margin-right: 0%;
    text-align: center;
      }

p, .last {
    display: block;
    margin: 0pt;
    padding:10pt;
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(66, 143, 221);
    margin: 0pt;
}

footer p {
    margin:0pt;
}
